body {
  text-align: center;
}
h1 {
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
  }
a.white {
    color: white;
    font-family: Helvetica;
    font-size: 18px;
    color: white;

  }
header {
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-position: center;
}
h2 {
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
}
h4 {
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  color: white;
  background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");
  background-position: center;
}
p {
  font-family: Helvetica;
  font-size: 14px;
}
.bottom {
  font-family: Helvetica;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align: left;
}
